@model College;

<div class="college-create-container">

    <div class="cf-form-container">

        <div class="cf-logo-container">
            Add College
        </div>

        <form asp-action="Create" method="post" class="cf-form">
            <div class="cf-form-group">
                <label for="college">College</label>
                <input asp-for="CollegeName" type="text" id="college" placeholder="College Name">
                <span asp-validation-for="CollegeName" class="text-danger"></span>
            </div>

            <button class="cf-form-submit-btn" type="submit">Submit</button>
        </form>

        <p class="cf-signup-link">
            <a asp-area="Admin" asp-controller="College" asp-action="Index" class="cf-signup-link cf-link"> Back to List </a>
        </p>

    </div>

</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
