@model College;

<div class="college-create-container">

    <div class="cf-form-container">

        <div class="cf-logo-container">
            Delete College
        </div>

        <form asp-action="Delete" method="post" class="cf-form">
            <input asp-for="CollegeId" hidden /> @* required to not update existing record and not add another since name is not Id *@

            <div class="cf-form-group">
                <label for="college">College</label>
                <input asp-for="CollegeName" type="text" id="college" placeholder="College Name" disabled>
            </div>

            <button class="cf-form-submit-btn" style="background-color: #7a0909;" type="submit">Delete</button>
        </form>

        <p class="cf-signup-link">
            <a asp-area="Admin" asp-controller="College" asp-action="Index" class="cf-signup-link cf-link"> Back to List </a>
        </p>

    </div>

</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
